.container{
    margin-bottom: 100px;
}
.banner-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ff136f;
    padding-top: 20px;
    padding-bottom: 6px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
} 
.cat1{
    background-image: linear-gradient(to left, coral 0%, red 100%);
}
.cat2{
    background-image: linear-gradient(to right, purple 0%, gray 100%);
}
.cat3{
    background-image: linear-gradient(to left, blue 0%, darkblue 100%);
}
.category h1{
    color: white;
}
.category img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightblue;
}
#contact{
    height: 300px;
}
footer{
    text-align: center;
}